.forgetpw_img-wrap {
    width: 100%;
    height: 400px;
    display: flex;
    justify-content: center;
    align-items: center;
    
    .img {
        width: 200px;
        height: 200px;
    }
}

.forgetpw_header {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;

    .header-divide {
        height: 30px;
        width: 4px;
        margin: 0 40px;
        background-color: #333;
    }

    .header-text {
        font-size: 44px;
        color: #374247;
    }

    .header-text-active {
        color: #F34750;
    }
}

.forgetpw_form {
    margin-top: 100px;

    .form-control {
        width: 80%;
        margin: 0 auto;
        display: flex;
        flex-direction: row;
        align-items: center;
        border-bottom: 1px solid #9DA2A7;
        height: 60px;
        line-height: 60px;
        margin-bottom: 60px;

        .form-input {
            padding-left: 40px;
            font-size: 34px;
        }
    }

    .vcode-wrap {
        position: relative;
        .btn-vcode {
            position: absolute;
            font-size: 32px;
            height: 50px;
            line-height: 50px;
            right: 0;
            bottom: 10px;
            background: greenyellow;
            border-radius: 6px;
            padding: 0 20px;
            color: #333;
        }
    }
    
    .form-button {
        width: 80%;
        border-radius: 50px;
        background-color: #F34750;
        outline: none;
    }
}
