@import "~taro-ui/dist/style/index.scss";

page {
  font-family: Georgia, Times New Roman, Times, Songti SC, serif;
  background: rgb(244, 243, 249);
  height: 100%;
  color: #333;
}

.navbar {
  background-color: #fff;
  height: 150px;
  box-sizing: border-box;
  padding-top: 80px;
  padding-left: 20px;
  color: #333;
  font-size: 36px;
  box-shadow: 4px 0 6px #cccccc;
}
