.search_hot,
.search_hist,
.search_novel {
  margin-top: 20px;
  padding: 20px;

  .search_title {
    background-color: #f4f3f9;
    margin-bottom: 10px;
  }
}

.search_novel-list {
  box-sizing: border-box;
  padding: 20px;
  width: 100%;
  overflow: hidden;
  background: #fff;

  .search_novel-item {
    width: 50%;
    box-sizing: border-box;
    height: 300px;
    padding: 20px 60px;
    float: left;

    .search_novel-wrapper {
      width: 100%;
      height: 100%;
      position: relative;

      .search_novel-cover {
        width: 100%;
        height: 100%;
        box-shadow: 6px 10px 6px #ccc;
        border-radius: 16px;
      }

      .search_novel-novelname {
        font-size: 34px;
        position: absolute;
        left: 10%;
        top: 20%;
        overflow:hidden;
        text-overflow:ellipsis;
        display:-webkit-box;
        -webkit-box-orient:vertical;
        -webkit-line-clamp:2;
      }

      .search_novel-authorname {
        font-size: 26px;
        position: absolute;
        top: 70%;
        right: 10%;
        overflow:hidden;
        text-overflow:ellipsis;
        display:-webkit-box;
        -webkit-box-orient:vertical;
        -webkit-line-clamp:2;
      }
    }
  }
}
