.container {
  position: relative;

  .info {
    height: 280px;
    box-sizing: border-box;
    background-color: #fff;
    padding: 20px 30px;

    .cover {
      width: 100%;
      height: 100%;
      border-radius: 16px;
    }

    .right {
      display: flex;
      flex-direction: column;
      justify-content: space-around;
      box-sizing: border-box;
      padding: 30px 50px;

      .bookname {
        font-size: 46px;
      }
      .authorname {
        align-self: flex-end;
        font-size: 34px;
        color: #333;
      }
    }
  }

  .classify {
    display: flex;
    background-color: #fff;
    margin-top: 16px;
    padding: 40px 30px;
    justify-content: space-between;
    font-size: 32px;
    color: #888;
  }

  .desc {
    background-color: #fff;
    padding: 30px 0;
    margin-top: 16px;
  }

  .btn-groups {
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;

    .btn-item {
      box-sizing: border-box;
      text-align: center;
      height: 100px;
      line-height: 100px;
      font-size: 30px;
    }

    .btn-chapter {
      border: 1px solid #c5d9e8;
    }

    .btn-shelf {
      border: 1px solid #6190e8;
      background: #6190e8;
      color: #fff;
    }
  }
}

.chapter {
  display: flex;
  height: 100vh;
  flex-direction: column;
  overflow: hidden;

  .chapter-header {
    height: 100px;
    line-height: 100px;
    color: rgb(81, 81, 81);
    font-size: 38px;
    padding-left: 30px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }
  .chapter-menus {
    height: 60px;
    box-sizing: border-box;
    font-size: 30px;
    color: rgb(52, 52, 52);

    .align-center {
      text-align: center;
    }
  }
  .chapter-list {
    flex: 1;
    overflow: auto;
    font-size: 32px;
    color: rgb(92, 92, 92);
    box-sizing: border-box;
    border-top: 2px solid rgb(234, 234, 234);

    .chapter-item {
      padding: 18px 40px;
    }
  }
}
