.classify_container {
  display: flex;
  flex-direction: column;
  height: 100vh;

  .classify_search {
    padding: 12px 18px;
    background-color: #fff;
    overflow: hidden;
    position: relative;

    .classify_input {
      width: 100%;
      height: 74px;
      background-color: #f7f7f7;
      border-radius: 40px;
      overflow: hidden;
      display: flex;
      justify-content: center;
      align-items: center;
      color: #999;
      font-size: 34px;
    }
  }

  .classify_body {
    flex: 1;
    position: relative;

    .classify_classify {
      height: 100%;
      width: 180px;
      background: #fff;
      float: left;

      .classify_classify-item {
        padding: 24px;
        text-align: center;
        color: #333;
        font-size: 28px;
        text-overflow: ellipsis;
        white-space: nowrap;
        overflow: hidden;
      }

      .classify_classify-active {
        background: #0068C4;
        color: #fff;
      }
    }

    .classify_novel {
      height: 100%;
      width: calc(100vw - 180px);
      box-sizing: border-box;
      position: absolute;
      left: 180px;
      padding: 20px;

      .classify_novel-item {
        width: 50%;
        box-sizing: border-box;
        height: 300px;
        padding: 20px 30px;
        float: left;

        .classify_novel-wrapper {
          width: 100%;
          height: 100%;
          position: relative;

          .classify_novel-cover {
            width: 100%;
            height: 100%;
            box-shadow: 6px 10px 6px #ccc;
            border-radius: 16px;
          }

          .classify_novel-novelname {
            font-size: 34px;
            position: absolute;
            left: 10%;
            top: 20%;
            overflow:hidden;
            text-overflow:ellipsis;
            display:-webkit-box;
            -webkit-box-orient:vertical;
            -webkit-line-clamp:2;
          }

          .classify_novel-authorname {
            font-size: 26px;
            position: absolute;
            top: 70%;
            right: 10%;
            overflow:hidden;
            text-overflow:ellipsis;
            display:-webkit-box;
            -webkit-box-orient:vertical;
            -webkit-line-clamp:2;
          }
        }
      }
    }
  }
}
