<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="top.dkvirus.novel.pages">

    <uses-permission android:name="android.permission.INTERNET" />

    <!-- To auto-complete the email text field in the login form with the user's emails -->
    <uses-permission android:name="android.permission.GET_ACCOUNTS" />
    <uses-permission android:name="android.permission.READ_PROFILE" />
    <uses-permission android:name="android.permission.READ_CONTACTS" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/logo"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".index.MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".read.ReadActivity"/>
        <activity
            android:name=".search.SearchActivity"
            android:label="@string/title_search" />
        <activity
            android:name=".intro.IntroActivity"
            android:label="@string/title_intro" />
        <activity
            android:name=".signup.SignupActivity"
            android:label="@string/title_signup" />
        <activity android:name=".signin.SigninActivity"
            android:label="@string/title_signin"/>
    </application>

</manifest>